/* h1{
    font-size: 2cm;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: bisque;
}
nav{
    background-color: aqua;
    display: block;
    display: flexbox;
    font-size: 40px;
}
.entry{
    /* height: 50px;
    width: 30px; */
    background-color: aqua;
    
} */





/* .button1{
    height: 600px;
    width: 120px;
    font-size: 25px;
    
   
}
.button2{
    height: 600px;
    width: 120px;
    font-size: 25px;
}
.container1 .button1:hover{
    background-color: red;
}
/* .fs{
    display: inline-flex;
    margin: 10px;
    padding: 40px;
    
} */ 