{% extends 'base.html' %}
<title>{% block title %} REGISTERED {% endblock %} </title>

{% block body %}

<h1 style="font-family: cursive;"> Dear @{% block a %}
    <a style="background-color: black; color: blanchedalmond; text-align: center; width: 350px;">
        {{details1.username}} </a>
    {% endblock %},
    you are successfully registered.
</h1>
<a href="http://127.0.0.1:8000/signin/">LOGIN </a>
{% endblock body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>