{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}BILASPUR - LOCATION {% endblock %} </title>
</head>

<body>

    {% block body %}
    {% include "locations/comman_in_all.html" %}
    <h1 class="district_name">TOURISM PLACES OF BILASPUR </h1>

    <h3 class="district_heading"> BILASPUR </h3>

    <p class="district_description"> Bilaspur also known as the city of festival is a
        city located in bilaspur district in the indian state of
        chhattisgarh .It ias also an
        important city for the indian railways . Bilaspur is the 3rd cleanest and 4th longest station in the india .this
        city is the commercial
        hub of north eash chhattisgarh. </p>

    <h3 class="place_heading"> SRI NAINA DEVI TEMPLE </h3>

    <p class="place_description"> shri naina devi temple is one of the most notable place of worship in himachal pardesh
        . locatedin
        distt
        bilaspur , it is one of the
        51shakhipeeths where limbs of sati fell on earth .</p>
    <a
        href="https://www.google.com/maps/place/Mahishmardini+Shaktipeeth+Shri+Naina+Devi+Temple/@31.3061766,76.5342908,17z/data=!3m1!4b1!4m5!3m4!1s0x390535c33fffffff:0x1083c2f2b985a5c3!8m2!3d31.3061766!4d76.5364849">
        visit here </a>
    <h3 class="place_heading"> GOBIND SAGAR RESERVOIR </h3>

    <p class="place_description"> govind sagar lake is a reservoir situated in una and bilaspur district of
        himachal pardesh . It is formed by the
        bhakra dam.
        bhakra dam maintained the level of water , the flow of river beas was channelized to gobind sagar by the beas-
        sutlej link which was
        accomplished in 1976. </p>

    <a
        href="https://www.google.com/maps/place/Govind+Sagar+Jheel,+Himachal+Pradesh+174201/@31.4599611,76.4345044,14z/data=!3m1!4b1!4m5!3m4!1s0x391ad2adbf75276b:0x1022fc9a520d0ea0!8m2!3d31.4599628!4d76.452057">
        visit here </a>

    <h3 class="place_heading"> LAXMI NARAYAN MANDIR </h3>

    <p class="place_description"> laxmi narayan mandir built in the 10th century by raja sahil verman , laxmi narayan
        temple is the main shrine in
        chamba that includes
        bimana i.e. shikhara and garbhgriha with a small antarala and a mantapa. </p>
    <a
        href="https://www.google.com/maps/place/Laxmi+Narayan+Mandir/@31.4596534,76.171073,10z/data=!4m5!3m4!1s0x39053f185182a1c1:0x925d6f8edadb5452!8m2!3d31.3393959!4d76.7592163">
        visit here </a>
    <h3 class="place_heading"> BHAKHRA DAM </h3>

    <p class="place_description"> bhakhra dam is aconcrete gravity dam on the sutlej river in bilaspur , himachal
        pardesh in northern india . the
        dam forms the gobind
        sagar reservoir . The bhakhra dam is second tallest dam in aisa after tehri dam with a height of 207.26 meters.
    </p>
    <a
        href="https://www.google.com/maps/place/Bhakra+Dam/@31.3393959,76.7570222,17z/data=!4m5!3m4!1s0x391acd220b2c70bd:0x7cb91e54289880ac!8m2!3d31.4111964!4d76.4334066">
        visit here </a>
    <h3 class="place_heading"> MARKANDEYA TEMPLE </h3>

    <p class="place_description"> markanda temple is situated at the banks of the wainganga river near chamorshki town
        in the gadchiroli district
        of maharastra. this
        8th century temple complex is called mini khajuraho.The nearest village is marakand dep. </p>
    <a
        href="https://www.google.com/maps/place/Markandeya+Temple+Hamirpur/@31.6374033,76.6044188,17z/data=!3m1!4b1!4m5!3m4!1s0x39052825bdba615d:0x8714c649ed5285b3!8m2!3d31.6374033!4d76.6066129">
        visit here </a>
    <h3 class="place_heading"> KANDROUR BRIDGE </h3>

    <p class="place_description"> The very beautiful and fanstastic kandrour bridge is 8 kilometers from bilaspur on
        national highway number - 88
        . It is acrros
        the river satluj . Its construction was started in april , 1959 and was completed in 1965 . </p>
    <a
        href="https://www.google.com/maps/place/Kandrour+Bridge/@31.3940567,76.7505979,17z/data=!3m1!4b1!4m5!3m4!1s0x39053c1e4370666f:0x78322075a6b1ca8d!8m2!3d31.3940567!4d76.752792">
        visit here </a>
    <h3 class="place_heading"> GOVIND SAGAR WILDLIFE SANCTUARY </h3>

    <p class="place_description"> Govind sagar lake is a reservoir situated in unn and bilaspur districts of himachal
        pardesh . It is fromed by
        the bhakra dam . The
        reservirs is on the river satluj and is named in honour of guru . Govind singh , the tenth sikh guru . </p>
    <a
        href="https://www.google.com/maps/place/Jhajjar+Bachauli+Wildlife+Sanctuary/@31.4135955,76.2207936,10z/data=!4m8!1m2!2m1!1sgovind+sagar+wildlife+sanctuary!3m4!1s0x39054a6ee14a07d1:0x101fb60653f29f96!8m2!3d31.2626086!4d76.5173702">
        visit here </a>
    <h3 class="place_heading"> RUDRA SHIVA STATUE </h3>

    <p class="place_description"> The elegant rudra shiva is a fantastic and highly interesting sculpture . There is
        wide land scape arround this
        place . It is interesting
        to see many animals carved on the body of the sculpture .</p>
    <a href="https://www.google.com/maps/search/rudra+shiva+statue/@31.242695,74.2660645,7z/data=!3m1!4b1"> visit here
    </a>
    <h3 class="place_heading"> FORT BAHADURPUR </h3>

    <p class="place_description"> Due to its compatetively greater height , the bahadurpur area recievs occasional snow
        fall in winter and the
        area nearby gets covered
        by beautiful deoder and banyan plantation . </p>
    <a
        href="https://www.google.com/maps/place/Bahadurpur+Fort+%2F+Bahadurgarh+Fort/@31.2036908,74.2547135,7z/data=!4m8!1m2!2m1!1sfort+bahadurpur!3m4!1s0x39056b89625b83a3:0x5295e6c5c603381d!8m2!3d31.2277311!4d76.868561">
        visit here </a>
    <h3 class="place_heading"> DEAIL FISH FARM </h3>

    <p class="place_description"> Deail fish farm , which comes under bilaspur district of himachal pardesh , came in to
        into existence in the
        year 1962 . This place
        is a greatb place for people who want to learn about fish farming . Be happened get inside the facility .</p>
    <a href="https://www.google.com/maps/search/deail+fish+farm+himachal/@30.983416,74.6137472,7z/data=!3m1!4b1"> visit
        here </a>
    {% endblock %}
</body>

</html>