{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}CHAMBA-LOCATION{% endblock %}</title>
</head>

<body>

    {% block body %}
    {% include "locations/comman_in_all.html" %}
    <h1 class="district_name"> TOURISM PLACES OF CHAMBA</h1>

    <h3 class="district_heading">CHAMBA</h3>
    <p class="district_description">chamba,perhaps the loveliest valley of Himachal,is a treasure trove of scenic
        attractios, meadows,and fertile
        valleys.The land is populated with a lively people who are endowed with a vibrant culture that stretches back
        thousands of years.</p>


    <h3 class="place_heading">CHAMERA LAKE</h3>
    <p class="place_description">On the route from chamba to Dalhousie,the lake of chamera dam backwaters have developed
        in to a popular
        gateway.water sport activities of boating,kayaking,sailing and fun filled escapades.</p>
    <a
        href="https://www.google.com/maps/place/Chamera+Dam,+Himachal+Pradesh/@32.5975738,75.9836785,17z/data=!3m1!4b1!4m5!3m4!1s0x391c9383f59eac8f:0x8d2d7117976be9b2!8m2!3d32.5975738!4d75.9858726">
        visit here </a>

    <h3 class="place_heading">KHAJJIAR</h3>
    <p class="place_description">Khajjiar is a wide grassy clearing around a pond with a thick cedar forest.on higher
        ground near the pond is the
        small temple of khajji nag that dates to the 12 th century AD.</p>
    <a
        href="https://www.google.com/maps/place/Khajjiar,+Himachal+Pradesh+176314/@32.5503598,76.0455009,14z/data=!3m1!4b1!4m5!3m4!1s0x391c966a723433b5:0xb281d8e676ebd3dc!8m2!3d32.555795!4d76.0655834">
        visit here </a>

    <h3 class="place_heading">BHARMAUR</h3>
    <p class="place_description">Bharmaur was known for its grandiose.In the hesrt of Bharmaur town is the historic
        chaurasi temple complex.Here
        stand 84 temples and shrines that are dedicated to 84 yogis.</p>
    <a
        href="https://www.google.com/maps/place/Bharmour,+Himachal+Pradesh+176315/@32.4428293,76.5253758,15z/data=!3m1!4b1!4m5!3m4!1s0x390353f1a72882f5:0xc65d73990464a9b!8m2!3d32.442849!4d76.5329269">
        visit here </a>

    <h3 class="place_heading">SHAKTI DEVI TEMPLE AT CHHATRARI</h3>
    <p class="place_description">shakti devi temple at chhatrari is a well documented temple of chamba -bharmaur built
        in traditional architecture
        style.The temple belongs to the period when the first temples of chaurasi at bharmaur were built.</p>
    <a
        href="https://www.google.com/maps/place/Shivshakti+Devi+Temple+Chhatrari,+Chhitrari,+Himachal+Pradesh+176324/@32.4427511,76.3936752,11z/data=!4m5!1m2!2m1!1sshakti+devi+temple!3m1!1s0x391cac3d52b0aa2b:0xbb0c57a0f276f584">
        visit here </a>

    <h3 class="place_heading">SALOONI</h3>
    <p class="place_description">Spread out along a ridge between pir panjal and dhauldhar ranges,salooni, overlooking
        the bhandal valley is where
        Bollywood directors come to shoot beautiful sequences.</p>

    <a
        href="https://www.google.com/maps/place/Salooni,+Himachal+Pradesh+176320/@32.4427511,76.3936752,11z/data=!4m5!3m4!1s0x391cea380b157797:0x468682c95d0fc071!8m2!3d32.721636!4d76.0515201">
        visit here </a>
    <h3 class="place_heading">BHANDAL</h3>
    <p class="place_description">Tge bhandal valley opens up at salooni and after passing through langhera goes on to
        kishtwar in jammu.The valley
        is rich in flora and fauna and is a popular trekking area.</p>
    <a
        href="https://www.google.com/maps/place/Bhandal+Valley/@32.7971857,75.9303274,17z/data=!3m1!4b1!4m5!3m4!1s0x391cef7494597b19:0xe4243cf6e9153d13!8m2!3d32.7971857!4d75.9325215">
        visit here </a>


    <h3 class="place_heading">KALATOP WILDLIFE SANCTUARY</h3>
    <p class="place_description">kalatop wildlife sanctuary is one of the most popular wildlife 3im Himachal Pradesh,
        which is located amidst the
        deoder forest between khajjiar and Dalhousie.kalatop wildlife sanctuary is the home of diverse range of wild
        animals.</p>
    <a
        href="https://www.google.com/maps/place/Kalatop,+Himachal+Pradesh+176304/@32.5514345,76.0162979,17z/data=!3m1!4b1!4m5!3m4!1s0x391c96982ea5e98b:0xbbd2e3328ecfd7!8m2!3d32.551542!4d76.0183375">
        visit here </a>

    <h3 class="place_heading">MANIMAHESH LAKE</h3>
    <p class="place_description">Situated close to manimahesh kailash peak in the pir panjal range of Himalayas,
        manimahesh lake is located in the
        chamba district and is one of the most important places to visit in chamba.</p>
    <a
        href="https://www.google.com/maps/place/Manimahesh+Lake/@32.3949555,76.6350111,17z/data=!3m1!4b1!4m5!3m4!1s0x39035788e63e3449:0x608f24db187aaa90!8m2!3d32.3949511!4d76.63721">
        visit here </a>

    <h3 class="place_heading">CHAMPAVATI TEMPLE</h3>
    <p class="place_description">Located near the police post and treasury building in chamba,champavati temple is one
        of the most religious
        destinations and best place to visit in chamba.</p>
    <a
        href="https://www.google.com/maps/place/Champavati+Temple,+Chowgan+Mohalla,+Chamba,+Himachal+Pradesh+176310/@32.5559274,76.1227117,17z/data=!3m1!4b1!4m5!3m4!1s0x391cbdc96afd520d:0x6761e0f3f296ad8f!8m2!3d32.5559274!4d76.1249058">
        visit here </a>

    <h3 class="place_heading">RANG MAHAL</h3>
    <p class="place_description">Rang mahal ,built by raja umed singh in the 18th century,is one of the largest
        monuments located in chamba
        region.The palace highlights the perfect blend of mughal and British architecture and has strikingly designed
        high fort-like walls.</p>
    <a
        href="https://www.google.com/maps/place/Rang+Mehal+Chamba/@32.5556486,76.1250856,17z/data=!3m1!4b1!4m5!3m4!1s0x391cbdcbcf554365:0xc2e33dd22c797c16!8m2!3d32.5556486!4d76.1272797">
        visit here </a>
    {% endblock %}
</body>

</html>