{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}HAMIRPUR-LOCATION{% endblock %}</title>
</head>

<body>

    {% block body %}
    <h1 class="district_name "> TOURISM PLACES OF HAMIRPUR</h1>
{% include "locations/comman_in_all.html" %}
    <h3 class="district_heading">HAMIRPUR</h3>
    {% comment %} <p>Hamirpur is a town and the headquarters of Hamirpur district in the Himalayan state of Himachal Pradesh, India.
        Hamirpur is located in the Lower West Central Outer Himalayas at an average elevation of 790 M above sea level .
        Far northern High Altitude Dhauladhar Ranges overlook the city. Hamirpur is a rapidly developing City in
        Himachal Pradesh {% endcomment %}

    <p class="district_description">Hamirpur is a town and the headquarters of Hamirpur district in the Himalayan state of Himachal Pradesh, India.
        Hamirpur is located in the Lower West Central Outer Himalayas at an average elevation of 790 M above sea level .
        Far northern High Altitude Dhauladhar Ranges overlook the city. Hamirpur is a rapidly developing City in
        Himachal Pradesh with New Entrepreneurship and Modern Construction.Hamirpur City is spread from Jhaniari to
        Bhota along NH 3 and NH 103 and is a prominent commercial centre for the district.</p>

    <h3 class="place_heading">DEOTSIDH TEMPLE HAMIRPUR</h3>
    <p class="place_description">Deotsidh Baba Balak Nath is a Hindu deity worshiped prominently in the Northern Indian states of Himachal
        Pradesh, Punjab, Haryana, Chandigarh, JandK etc. His shrine is known as “Deothsidh”.Deotsidh is a pilgrimage town
        in Barsar tehsil, Hamirpur district, Himachal Pradesh, India. The nearest broad gauge railway station is in Una
        district, about 60 kilometres (37 mi) distant.</p>
        <a href="https://www.google.com/maps/place/Deotsidh,+Himachal+Pradesh+176039/@31.4559765,76.5323067,15z/data=!3m1!4b1!4m5!3m4!1s0x39053206bd285a9d:0xdbe6f669d1273fc5!8m2!3d31.4569534!4d76.5401527">
        visit here </a>

    <h3 class="place_heading">SUJANPUR TIRA FORT</h3>
    <p class="place_description">The palace-fort, Sujanpur Tira is situated at a distance of 22kms from Hamirpur town and touches the Kangra
        border. The fort was built by Raja Abhay Chand of the Katoch dynasty of Kangra in 1758. For more than a century,
        Sujanpur Tira remained the royal residence for the Katoch dynasty.Sujanpur Tira houses five temples.where the
        court was held in the realm of Sansar Chand.The main attraction of the fort is the Gauri Shankar Temple that is
        within the precincts of the palace. The temple is dedicated to Lord Shankar and Goddess Parvati.</p>
        <a href ="https://www.google.com/maps/place/Sujanpur+Tira,+Himachal+Pradesh+176110/@31.8318464,76.4915157,15z/data=!3m1!4b1!4m5!3m4!1s0x3904cd75c83b8bdd:0x905fe42654990ffe!8m2!3d31.833859!4d76.5054652">
        visit here </a>


    <h3 class="place_heading">AWAH DEVI TEMPLE</h3>
    <p class="place_description">Awah Devi Temple is situated in Tehsil Bhoranj district Hamirpur Himachal Pradesh ,India on Sarkaghat road at a
        distance of 24 km from Hamirpur district. Awah Devi Temple is situarted in the beautiful surrounding on the top
        of the hill awah devi mandir is over 275 years old. The spectacular backdrop further enhances the beauty of this
        place. Jalpa Devi is worshipped by a few locals as Kul Devi (Clan’s Deity). Also, a large number of Hindu
        devotees throng the temple in order to seek the blessing of the goddess and to get their wishes fulfilled.</p>
<a href="https://www.google.com/maps/place/Awah+Devi,+Himachal+Pradesh/@31.7126251,76.6704297,16z/data=!3m1!4b1!4m5!3m4!1s0x3904d9bb23869c17:0xe519b3682fd0b4a8!8m2!3d31.7127166!4d76.6737566">
visit here </a>

    <h3 class="place_heading">TAUNI DEVI TEMPLE</h3>
    <p class="place_description">Dedicated to Goddess Tauni, who is believed to be the sister of Goddess Durga, Tauni Devi Temple is situated on
        Hamirpur-Awa Devi Road. The temple is at a distance of 12kms from Hamirpur. It is a 200 years old temple and
        revered highly by the local people of the district. An annual fair takes place in the temple during the month of
        Ashran (June-July), which is attended by a large number of devotees from all over the state.</p>
<a href ="https://www.google.com/maps/place/Tauni+Devi,+Himachal+Pradesh/@31.7127893,76.5955852,16z/data=!3m1!4b1!4m5!3m4!1s0x3904d721eedd7c9f:0x329626eb2b542c4f!8m2!3d31.7143781!4d76.5972223">
visit here </a>

    <h3 class="place_heading">NADAUN FORT</h3>
    <p class="place_description">Nadaun fort is better known as Amter-Nadaun fort, which was once the royal residence of Raja Sansar Chand.
        Perched atop a hill, this edifice attracts visitors by its impeccably done wall paintings and frescoes.
        Unfortunately, the fort is in a dilapidated condition but it still manages to put visitors in awe with its
        exquisite architecture. It is an ideal place that reflects the rich history of Raja Sansar Chand and the Katoch
        dynasty.</p>
<a href="https://www.google.com/maps/place/Nadaun+Fort/@31.7753421,76.3521231,17z/data=!3m1!4b1!4m5!3m4!1s0x391b2ff534966a17:0x20bac66551e89d0a!8m2!3d31.7753421!4d76.3543172">
visit here </a>
    <h3 class="place_heading">NARBADESHWAR TEMPLE</h3>
    <p class="place_description">Narbadeshwar Temple is situated in Sujanpur town and was built by Maharani Prasanni Devi, the wife of Raja Sansar
        Chand. The temple is famed for its rich wall paintings that enhance the beauty of its walls. It is a 200 year
        old temple that is built in the Bhitti style of architecture. The arches and niches catch the eyes of many
        visitors in the temple. There are other temples built around the Narbadeshwar, which are dedicated to Durga,
        Ganesh, Laxmi Naryana and Mahisasur Mardini.</p>
        <a href="https://www.google.com/maps/place/Narvadeshwar+Temple/@31.8370562,76.5022873,17z/data=!3m1!4b1!4m5!3m4!1s0x3904cda0245e595d:0xb44d47a61998b711!8m2!3d31.8370562!4d76.5044814">
        visit </a>

    <h3 class="place_heading">GAURI SHANKAR TEMPLE</h3>
    <p class="place_description">Close to the main road before reaching Naggar Castle, one comes upon the Gauri Shankar Temple. The sight of
        finely carved stone shikharas of the Gauri Shankar Temple comes as a pleasant surprise. It is set in a paved
        courtyard below the castle and is among the oldest temples around. It is a Shiva temple and has a lingam
        installed inside. According to the locals, the temple was unearthed in an excavation.There is no roof on top of
        the temple and the various temple structures can be directly seen under the sky. The temple is made entirely out
        of stone and the smaller temples are dedicated to Narayana.</p>
        <a href="https://www.google.com/maps/place/Gauri+Shankar+Temple/@32.1131176,77.1619632,17z/data=!3m1!4b1!4m5!3m4!1s0x39048a5bdd1d9c93:0xd7417625c7cca83a!8m2!3d32.1131176!4d77.1641573">
        visit here </a>

    <h3 class="place_heading">MARKANDA</h3>
    <p class="place_description">It is located in district Hamirpur, 6 KM away from Dera parol on the bank of Kunah Khad is the place of Markandya
        Rishi. According to Puranas, it is there that the idol of Rishi Markandya was installed. A Natural water spring
        is also located there. The fair of markanda is also famous.</p>
<a href="https://www.google.com/maps/place/Markandeya+Temple+Hamirpur/@31.6374033,76.6044188,17z/data=!3m1!4b1!4m5!3m4!1s0x39052825bdba615d:0x8714c649ed5285b3!8m2!3d31.6374033!4d76.6066129">
visit here </a>
    <h3 class="place_heading">MURLI MANOHAR TEMPLE</h3>
    <p class="place_description">It is situated in the historical chowgan of Sujanpur Tira. This temple is very old and is constructed in “Shikar
        Style”. Images of Lord Krishna and Radha are placed in it. The wood work is covered with sculpture of unique
        scenes. There is an open courtyard near the temple where images of different Gods and Goddesses are placed. This
        temple was constructed during the reign of Maharaj Sansar Chand.</p>
<a href="https://www.google.com/maps/place/Murli+Manohar+Temple/@31.8319063,76.5034353,17z/data=!3m1!4b1!4m5!3m4!1s0x3904cd9e628662cb:0x572b40d43e2804fd!8m2!3d31.8319063!4d76.5056294">
visit here </a>

    <h3 class="place_heading">BIL KALESHWAR TEMPLE</h3>
    <p class="place_description">This temple of God Shiva is situated at a distance of 5 km on the Nadaun- Sujanpur road at the meeting place of
        Beas river and Kunah Khad. This temple is about more than 400 years old. In the month of ‘Baishakh’ ( May-June),
        during the mela large number of devotees visit this place to have a glimpse of Shivling. According to the
        ancient grape-vine, the construction of this temple was started by the ‘Pandavas’ of ‘Mahabharatha’ fame with
        the help of Vishva-Karma in the night during their secret exile. But the construction of the temple was abandon
        by ‘Pandavas’ as they were spotted by the local people. Later on, this temple was constructed by the King of
        Katoch Dynasty.

    with New Entrepreneurship and Modern Construction.Hamirpur City is spread from Jhaniari to Bhota along NH 3 and NH
    103 and is a prominent commercial centre for the district.</p>
<a href="https://www.google.com/maps/place/Murli+Manohar+Temple/@31.8319063,76.5034353,17z/data=!3m1!4b1!4m5!3m4!1s0x3904cd9e628662cb:0x572b40d43e2804fd!8m2!3d31.8319063!4d76.5056294">
visit here </a>
    {% comment %} <h3 class="place_heading">DEOTSIDH TEMPLE HAMIRPUR</h3>
    <p class="place_description">Deotsidh Baba Balak Nath is a Hindu deity worshiped prominently in the Northern Indian states of Himachal
        Pradesh, Punjab, Haryana, Chandigarh, JandK etc. His shrine is known as “Deothsidh”.Deotsidh is a pilgrimage town
        in Barsar tehsil, Hamirpur district, Himachal Pradesh, India. The nearest broad gauge railway station is in Una
        district, about 60 kilometres (37 mi) distant.</p>

    <h3 class="place_heading">SUJANPUR TIRA FORT</h3>
    <p class="place_description">The palace-fort, Sujanpur Tira is situated at a distance of 22kms from Hamirpur town and touches the Kangra
        border. The fort was built by Raja Abhay Chand of the Katoch dynasty of Kangra in 1758. For more than a century,
        Sujanpur Tira remained the royal residence for the Katoch dynasty.Sujanpur Tira houses five temples.where the
        court was held in the realm of Sansar Chand.The main attraction of the fort is the Gauri Shankar Temple that is
        within the precincts of the palace. The temple is dedicated to Lord Shankar and Goddess Parvati.</p>

    <h3 class="place_heading">AWAH DEVI TEMPLE</h3>
    <p class="place_description">Awah Devi Temple is situated in Tehsil Bhoranj district Hamirpur Himachal Pradesh ,India on Sarkaghat road at a
        distance of 24 km from Hamirpur district. Awah Devi Temple is situarted in the beautiful surrounding on the top
        of the hill awah devi mandir is over 275 years old. The spectacular backdrop further enhances the beauty of this
        place. Jalpa Devi is worshipped by a few locals as Kul Devi (Clan’s Deity). Also, a large number of Hindu
        devotees throng the temple in order to seek the blessing of the goddess and to get their wishes fulfilled.</p>

    <h3 class="place_heading">TAUNI DEVI TEMPLE</h3>
    <p class="place_description">Dedicated to Goddess Tauni, who is believed to be the sister of Goddess Durga, Tauni Devi Temple is situated on
        Hamirpur-Awa Devi Road. The temple is at a distance of 12kms from Hamirpur. It is a 200 years old temple and
        revered highly by the local people of the district. An annual fair takes place in the temple during the month of
        Ashran (June-July), which is attended by a large number of devotees from all over the state.</p>

    <h3 class="place_heading">NADAUN FORT</h3>
    <p class="place_description">Nadaun fort is better known as Amter-Nadaun fort, which was once the royal residence of Raja Sansar Chand.
        Perched atop a hill, this edifice attracts visitors by its impeccably done wall paintings and frescoes.
        Unfortunately, the fort is in a dilapidated condition but it still manages to put visitors in awe with its
        exquisite architecture. It is an ideal place that reflects the rich history of Raja Sansar Chand and the Katoch
        dynasty.</p>

    <h3 class="place_heading">NARBADESHWAR TEMPLE</h3>
    <p class="place_description">Narbadeshwar Temple is situated in Sujanpur town and was built by Maharani Prasanni Devi, the wife of Raja Sansar
        Chand. The temple is famed for its rich wall paintings that enhance the beauty of its walls. It is a 200 year
        old temple that is built in the Bhitti style of architecture. The arches and niches catch the eyes of many
        visitors in the temple. There are other temples built around the Narbadeshwar, which are dedicated to Durga,
        Ganesh, Laxmi Naryana and Mahisasur Mardini.</p>

    <h3 class="place_heading">GAURI SHANKAR TEMPLE</h3>
    <p class="place_description">Close to the main road before reaching Naggar Castle, one comes upon the Gauri Shankar Temple. The sight of
        finely carved stone shikharas of the Gauri Shankar Temple comes as a pleasant surprise. It is set in a paved
        courtyard below the castle and is among the oldest temples around. It is a Shiva temple and has a lingam
        installed inside. According to the locals, the temple was unearthed in an excavation.There is no roof on top of
        the temple and the various temple structures can be directly seen under the sky. The temple is made entirely out
        of stone and the smaller temples are dedicated to Narayana.</p>

    <h3 class="place_heading">MARKANDA</h3>
    <p class="place_description">It is located in district Hamirpur, 6 KM away from Dera parol on the bank of Kunah Khad is the place of Markandya
        Rishi. According to Puranas, it is there that the idol of Rishi Markandya was installed. A Natural water spring
        is also located there. The fair of markanda is also famous.</p>

    <h3 class="place_heading">MURLI MANOHAR TEMPLE</h3>
    <p class="place_description">It is situated in the historical chowgan of Sujanpur Tira. This temple is very old and is constructed in “Shikar
        Style”. Images of Lord Krishna and Radha are placed in it. The wood work is covered with sculpture of unique
        scenes. There is an open courtyard near the temple where images of different Gods and Goddesses are placed. This
        temple was constructed during the reign of Maharaj Sansar Chand.</p>

    <h3 class="place_heading">BIL KALESHWAR TEMPLE</h3>
    <p class="place_description">This temple of God Shiva is situated at a distance of 5 km on the Nadaun- Sujanpur road at the meeting place of
        Beas river and Kunah Khad. This temple is about more than 400 years old. In the month of ‘Baishakh’ ( May-June),
        during the mela large number of devotees visit this place to have a glimpse of Shivling. According to the
        ancient grape-vine, the construction of this temple was started by the ‘Pandavas’ of ‘Mahabharatha’ fame with
        the help of Vishva-Karma in the night during their secret exile. But the construction of the temple was abandon
        by ‘Pandavas’ as they were spotted by the local people. Later on, this temple was constructed by the King of
        Katoch Dynasty.</p> {% endcomment %}

    {% endblock %}
</body>

</html>