{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devices-width,initial-scale=1.0">
    <title>
        {% block title%} kangra-location {% endblock %}
    </title>
</head>

<body>
    {% block body %}
    <h1 class="district_name ">TORISM PLACES OF KANGRA </h1>
{% include "locations/comman_in_all.html" %}
    <h3 class="district_heading">kangra</h3>
    <p class="district_description"> Kangra is the most populous[1] district of the Indian state of Himachal Pradesh.
        Dharamshala is the administrative headquarters of the district.
        Kangra is known for having the oldest serving Royal Dynasty in the world, the Katoch.[citation needed] In 1758,
        Raja Ghamand Chand was appointed nazim or governor of Jullundur Doab under the Afghans.
        Ghamand Chand was a brave and strong ruler who restored the prestige of Kangra.
        As he was unable to capture Kangra fort, he built another fort at Tira Sujanpur on the left bank of the Beas,
        almost opposite to Alampur on a hill overlooking the town.
        He died in 1774 and was succeeded by his son, Tegh Chand, who died too soon in 1775.
        Kangra was annexed by Maharaja Ranjit Singh's Sikh Empire in 1810. Kangra became a district of British India in
        1846,
        when it was ceded to British India at the conclusion of the First Anglo-Sikh War.
        The British district included the present-day districts of Kangra, Hamirpur, Kullu, and Lahul and Spiti.
        Kangra District was part of the British province of Punjab.
        The administrative headquarters of the district were initially at Kangra, but were moved to Dharamshala in 1855.
    </p>
    <h3 class="place_heading"> BAIJNATH TEMPLE </h3>
    <p class="place_description">
        Himachal is a place where nature and human architecture amalgamate perfectly to treat the human eye and
        stimulate the human mind. The Baijnath is one such spot that easily bags the first position in the list of
        must visits in Kangra.
    </p>
    <a href="https://www.google.com/maps/place/Baijnath+Temple/@32.0508138,76.6436066,17z/data=!3m1!4b1!4m5!3m4!1s0x3904b82b703db1cf:0xcc52dfb330774ad2!8m2!3d32.0508138!4d76.6458007">
    visit here </a>

    <h3 class="place_heading"> Kangra Fort</h3>
    <p class="place_description">"Situated on the outskirts of the town of Kangra, in the state of Himachal Pradesh, the Kangra Fort ,
        built by the royal Rajput family of Kangra State (the Katoch dynasty) is witness to thousands of years of
        grande..."
        "The Darshini Gate, flanked by 2000-year old carvings of the river goddesses Ganga and Yamuna, leads up to the
        most
        important shrine in Kangra, the Ambika Devi Temple."
    </p>
<a href="https://www.google.com/maps/place/Kangra+Fort/@32.0873287,76.2539222,17z/data=!3m1!4b1!4m5!3m4!1s0x391b4590bd14dd71:0xe9db7498648fff42!8m2!3d32.0873287!4d76.2561163">
visit here </a>
    <h3 class="place_heading"> Bajreshwari Devi Temple</h3>
    <p class="place_description">"The temple has a very rich and ancient history associated with it, having been plundered and restored
        several times till it was laid waste by an earthquake in 1905.
        It was rebuilt by the shrine board."
        "This temple was rebuilt several times as it was ransacked during various invasions as invaders kept on
        looting rich India it once was with peaceful people offering little resistance to invasions."
    </p>
    <a href="https://www.google.com/maps/place/Shaktipeeth+Shri+Bajreshwari+Devi+Temple/@32.1019299,76.2677032,17z/data=!3m1!4b1!4m5!3m4!1s0x391b457fed85cf17:0xb7eeb9f8c52f9e16!8m2!3d32.1019299!4d76.2698973">
    visit here </a>
    <h3 class="place_heading">Masroor Rock Cut Temple</h3>
    <p class="place_description">"... to reach the temple there is an entry ticket of Rs 25 for Indian visitors there is ample
        parking and a small restaurant outside the way to the temple the ambience is great will let pictures describe
        the beauty"
        "A place only for history buffs or fan of Archeological sites."
    </p>
    <a href="https://www.google.com/maps/place/Masrur+Temples/@32.072763,76.1350798,17z/data=!3m1!4b1!4m5!3m4!1s0x391b43b22d895a9d:0x78c1bd87f3285412!8m2!3d32.072763!4d76.1372739">
    visit here </a>
    <h3 class="place_heading">Baglamukhi Temple</h3>
    <p class="place_description">This temple is one the way to Jwalamukhi from Dharamshala. Very easily located due to the golden color
        structure clearly visible from the road.
        This temple got historical importance as well as religious importance and a must visit place.
    </p>
    <a href="https://www.google.com/maps/place/Baglamukhi+Temple+Bankhandi/@31.9676417,76.2030845,17z/data=!3m1!4b1!4m5!3m4!1s0x391b4787655b3a5f:0x779b78096999f82a!8m2!3d31.9676417!4d76.2052786">
    visit here </a>
    <h3 class="place_heading">Chamunda Devi Temple </h3>
    <p class="place_description" >
        Chamudna Devi Temple is considered one of 51 Shakti Peethas of Hindu Goddess Mata Sati, so it is a Hindu Worship
        place.
        One can only hope that the renovation is finished soon so that the entire complex is again in order.</p>
    <a href="https://www.google.com/maps/place/Baglamukhi+Temple+Bankhandi/@31.9676417,76.2030845,17z/data=!3m1!4b1!4m5!3m4!1s0x391b4787655b3a5f:0x779b78096999f82a!8m2!3d31.9676417!4d76.2052786">
    visit here </a>
    <h3 class="place_heading">Bhagshunath Temple</h3>
    <p class="place_description">"With a legend it owes its existence to, a waterfall nearby and many shacks and cafes around;
        this religious centre has an air of spirituality about it, flattering sceneries around, and much of vibrancy and
        colour..."
        "The trek to Bhagsunath Waterfall has a good view and there are outlets of Dhaka’s on the way up to the
        waterfall."</p>
        <a href="https://www.google.com/maps/place/Bhagsu+Naag+Temple/@32.2443856,76.3320237,17z/data=!3m1!4b1!4m5!3m4!1s0x391b56ccedfbd291:0x5c615ab8d72dccc7!8m2!3d32.2443856!4d76.3342178">
        visit here</a>
    <h3 class="place_heading">Indrahar Pass</h3>
    <p class="place_description">"Indrahara Pass trek is a challenging trek which involves climbing a 4342 meters
        high pass which is situated on the boundary of Kangra and Chamba ."
        "The intermediary level 4day trek to Indrahar Pass was successful and
        highly memorable for our family, of two adult children and a (very fit) senior citizen parent."</p>
    <a href="https://www.google.com/maps/place/Indrahar+Pass+Trail,+Dhar+Alangari,+Himachal+Pradesh+176219/@32.2922479,76.3760036,17z/data=!3m1!4b1!4m5!3m4!1s0x391b55cd2420965d:0x65e517312d6e7018!8m2!3d32.2922479!4d76.3781977">
    visit here </a>
    <h3 class="place_heading">Lakshmi Narayan Temple</h3>
    <p class="place_description">This is small temple but nice, peaceful and maintain temple.
        This is historical temple.
        Great Nice architecture.Although Kangra rulers seems to be in proximity to both Hindu
        and Jain religious faiths this particular temple is of relatively newer origin as compared to the Jain temple.
        [which is situated right at the peak]</p>
<a href="https://www.google.com/maps/place/Temple+of+Shri+Lakshmi+Narayan/@31.8258285,75.4258212,8z/data=!4m8!1m2!2m1!1slakshmi+narayan+temple+kangra!3m4!1s0x3904cda8f00961d3:0xa1721d52bda95915!8m2!3d31.8499777!4d76.5061203">
visit here </a>
    <h3 class="place_heading">Chinmay Tapovan</h3>
    <p class="place_description">Amazing place, quiet and there’s a great bookstore... beautiful views, spiritual atmosphere... I highly recommend
        a visit
    </p>
    <a href=" https://www.google.com/maps/place/Chinmaya+Tapovan/@32.1764536,76.357268,17z/data=!3m1!4b1!4m5!3m4!1s0x391b51f4e9a5de43:0x4890e996c4defb5!8m2!3d32.1764536!4d76.3594621">
    visit here </a>
    <h3 class="place_heading">Simsa Mata Temple Daroh</h3>
    <p class="place_description">SIMSA MATA MANDIR is a Hindu temple located in the Kangra district or Mandi of Himachal Pradesh.
        The temple is dedicated to the Sharada Devi.Simsa mata is also known as "Santaan Datri Mata".
        "Maa Simsa" or "Maa Durga" is a same name of Jag Janni Devi Maa, who will give us lots of happiness and
        Satisfaction.
        "Maa Simsa" or "Maa Durga" is temple in Village Simas, Tehsil Lad Bharol, Dist Mandi, or another temple in
        Village.
        Daroh,Teh.Palampur,Dist.Kangra(H.P.).
        In maa Simsa Temple Daroh Couple worship Maa Simsa and burn "Jyoti of Til oil"
        for the blessings of Maa Simsa to have a child! The ancestors say that if a Couple comes
        with a pure heart to the temple of Maa Simsa daroh and burn jyoti nd worship maa simsa then he or she has
        a dream about either fruits that indicates the blessing of a child.
        Strange but true if one hears countless accounts of couple bestowed with kids after this experience.</p>
  <a href="https://www.google.com/maps/place/Simsa+Mata+Temple/@31.9006199,76.6941823,17z/data=!3m1!4b1!4m5!3m4!1s0x3904c0d6035fdc8f:0xbd2495f74f8f9ba9!8m2!3d31.9006199!4d76.6963764">
  visit here </a>
    {% endblock %}
</body>

</html>