{% extends 'base.html' %}

<!DOCTYPE html>

<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}KINNAUR-LOCATION{% endblock %}</title>
</head>

<body>

    {% block body %}
    {% include "locations/comman_in_all.html" %}
    
    <h1 class="district_name"> TOURISM PLACES OF KINNAUR</h1>

    <h3 class="district_heading">KINNOUR</h3>
    <p class="district_description ">Kinnaur surrounded by the Tibet to the east, in the northeast corner of Himachal Pradesh, about 235 kms from
        Shimla is a tremendously beautiful district having the three high mountains ranges i.e. Zanskar, Greater
        Himalayas and Dhauladhar, enclosing valleys of Sutlej, Spiti, Baspa and their tributaries. All the valleys are
        strikingly beautiful. The much religious Shivlinga lies at the peak of Kinner Kailash mountain.The old
        Hindustan-Tibet road passes through the Kinnaur valley along the bank of river Sutlej and finally enters Tibet
        at Shipki La Pass. And it is not only the scenic beauty which appeals to the young and old alike but also the
        life styles of the people, their culture, heritage, customs and traditions.</p>

    <h3 class="place_heading">KINNER KAILASH MOUNTAIN</h3>
    <p class="place_description">Popularly known as “Parbat Of Lord Shiva”, this mountain is perched at an altitude of 6500 meters above the sea
        level. The alluring landscapes of this place make it the most popular tourist spot in Kalpa. People, in large
        number, visit this place to take the holy Parikrama, which kickstarts from Morang and continues till Kalpa.
        Kinnaur Kailash is situated amid breathtaking valleys, lush green gardens, snow-clad mountains, and gushing
        rivers. What further adds to the significance of this site is the holy Shivling of Lord Shiva. The Shivling is
        nestled on the Kailash rage at a height of around 4800m. With its religious significance and panoramic
        landscapes, it is one of the finest places to visit in Kinnaur.</p>
        <a href="https://www.google.com/maps/place/Kinnaur+Kailash/@31.452092,78.3837175,14z/data=!3m1!4b1!4m5!3m4!1s0x39063f57c7a5910b:0x5c591b16155497f3!8m2!3d31.4520937!4d78.4012701">
        visit here </a>

    <h3 class="place_heading" >BASPA RIVER</h3>
    <p class="place_description">If you want to enjoy the best views of snow-clogged mountains, Sangla Valley, and running streams, there is no
        better place to visit in Kinnaur than Baspa River. Counted among the most scintillating rivers of the Himalayas,
        Baspa is a center point of numerous glaciers and worth seeing destinations such as Chung Sakhago Pass.It
        originates from majestic Baspa hills and merges with Sutlej river. The nearby valley to the river remains
        covered with pine and oak forests. One peculiar thing about Baspa is that it plants a huge variety of fishes
        which is another attraction for nature lovers and campers.</p>
<a href="https://www.google.com/maps/place/Baspa+River/@31.408328,78.3022589,16z/data=!3m1!4b1!4m5!3m4!1s0x39063e3256682247:0xed8e1a3bf855de74!8m2!3d31.4056736!4d78.3079364">
visit here </a>
    <h3 class="place_heading">SARHAN</h3>
    <p class="place_description">A small village situated in Kinnaur, Sarhan is perched at an altitude of 2165 meters. Popular as “ Gateway To
        Kinnaur”, it is known for its dense pine forests, terraced farms, slate-roofed houses, and gushing
        streams.Sarhan also acts as a base village for several trekking expeditions and is regarded as the summertime
        capital of Bushehr rulers. The view of Mount Srikhand peak from this place is something that you can’t give a
        miss. With its mesmerizing and serene surroundings, Sarhan is one of the key places to visit in Kinnaur.</p>
<a href="https://www.google.com/maps/place/Sarahan,+Himachal+Pradesh/@31.519012,77.7793833,14z/data=!3m1!4b1!4m5!3m4!1s0x3905db99979dffe9:0x6a2eb47ceff4ca38!8m2!3d31.5167835!4d77.7938376">
visit here </a>
    <h3 class="place_heading">SANGLA VALLEY</h3>
    <p class="place_description">Forming a perfect getaway from the boisterous city life, Sangla Valley is surrounded by evergreen forests,
        mountain slopes, and snow-clad peaks. One thing that set this valley apart from the rest of them is its
        beautiful cherry trees and red apple orchard. Baspa River, which is popular for trout fishing, passes through
        this spot. From holy temples to majestic forts and alluring villages, Sangra Valley has a perfect mix of
        adventurous spots and serene sites. The lush green valley of Sangla is named after an enticing village which has
        the same name.</p>
<a href="https://www.google.com/maps/place/Sangla+Valley+Resort/@31.4319717,78.2516556,17z/data=!3m1!4b1!4m5!3m4!1s0x390615a60e4153ef:0xb5302aaf77e5f5c4!8m2!3d31.4319717!4d78.2538497">
visit here </a>
    <h3 class="place_heading">KALPA</h3>
    <p class="place_description">Known for its captivating sunrise views, Kalpa is perched at an altitude of 2759 meters on the India-Tibetan
        road. The village is placed above Reckong Peo, a hub of Buddhist Culture. Reflecting all the traits of a
        heritage village, this site is one among the many unforgettable places to visit in Kinnaur.There are few
        Buddhist Monasteries in Kalpa such as Gompa and Hu-Bu-Lan-car which are among the top tourist spots in the
        village. One can also relish the view of the serene river of Satluj that flows down the Himalayas and gets
        through the hilly surface of Kinnaur. </p>
<a href="https://www.google.com/maps/place/Kalpa,+Himachal+Pradesh+172108/@31.537767,78.2436848,15z/data=!3m1!4b1!4m5!3m4!1s0x39066a2a311bb81d:0x60fde22c129d5588!8m2!3d31.5389997!4d78.2518863">
visit here </a>
    <h3 class="place_heading">RIBBA</h3>
    <p class="place_description">A small populous village of Kinnaur, Ribba is nestled at the height of around 3745 meters above the sea. The
        village is abundant in Pine nuts and this is how it got its another name, “Rirang”. In the local language, Ri
        means Pine Nut and Rang means peak.Dotted with vineyards and fruit orchards, it forms an ideal tourist spot for
        nature lovers. Grape Orchards ad Grape Alcohols are the 2 things which are quite popular in this area. The
        village is bounded by well-known places such as Reckong Peo, Kalpa, Rampur village and Nichar.</p>
<a href="https://www.google.com/maps/place/Ribba,+Himachal+Pradesh+172116/@31.577979,78.3156529,13z/data=!3m1!4b1!4m5!3m4!1s0x3906439710c9bc8d:0x35beaec56cd0672e!8m2!3d31.5781374!4d78.3557775">
visit here </a>
    <h3 class="place_heading">BORASU PASS</h3>
    <p class="place_description">One of the many passes of Himachal is the Borasu Pass that connects Baspa River valley with the Tons River
        valley. Reckoned as an enthralling trek for adventure lovers, it also acts as a link between Himalayas of
        Uttrakhand and Himachal. Borasu Pass trek takes you through some of the ancient trade routes that begin from Har
        Ki Dun and ends in Kinnaur Valley.On the trek, the trekkers will get to see the mesmerizing landscapes and
        several remote villages such as Osla, Saur, Sankri, Dhatmir, and Gangar Har Ki Dun.</p>
<a href="https://www.google.com/maps/place/Borasu+Pass/@31.2369427,78.4427252,14z/data=!3m1!4b1!4m5!3m4!1s0x3906259b9829c4d7:0x2824815e7752d6e4!8m2!3d31.2369444!4d78.4602778">
visit here </a>
    <h3 class="place_heading">NICHAR</h3>
    <p class="place_description">Cradled between Wangtu and Taranda region, Nichar is one among the three administrative areas of Kinnaur
        district. It is perched at an altitude of around 2150 meters and offers several panoramic views to the
        travelers.The region is blessed with a variety of flora and fauna and is home to numerous wildlife species such
        as red bears, antelopes, and Ghoral. The temperature of Nichar remains moderate throughout the year and hence,
        tourist can visit here in any season. With its ardent beauty and exotic wildlife, it has become one of the most
        sought-after places to visit in Kinnaur.</p>
<a href="https://www.google.com/maps/place/Nichar,+Himachal+Pradesh+172104/@31.5579127,77.9375051,15z/data=!3m1!4b1!4m5!3m4!1s0x390676513408321b:0x271df62bb8d8c116!8m2!3d31.5581415!4d77.9467371">
visit here </a>
    <h3 class="place_heading">KAMRU FORT</h3>
    <p class="place_description">The majestic fort of Kamru stands tall at an altitude of 2600 meters above the sea level. It is around 2 km away
        from the enticing Sangla valley and is one of the popular tourist places in Kinnaur. The fort is situated at a
        picturesque location and serves the travelers with breathtaking views of Sangla valley, apple orchards, and
        streams.On the entry point of the fort, one has to pass through a large number of gates. On the main gate, you
        will get to see a massive statue of Lord Buddha which will leave you stunned with its beauty. At the top of the
        fort, there is a Kamakhya Devi Idol which is truly worth seeing. </p>
<aa href="https://www.google.com/maps/place/KAMRU+FORT/@31.4366183,78.2558878,17z/data=!3m1!4b1!4m5!3m4!1s0x3906153b9f615d31:0x7d0172b7045b003b!8m2!3d31.4366183!4d78.2580819">
visit here </a>
    <h3 class="place_heading">RECONG PEO</h3>
    <p class="place_description">Popularly known as the abode of Gods, Reckong Peo lies in the center of the Himalayas. This serene town is
        inhabited by Kinnauri tribe and has still preserved its culture successfully.Recong Peo also forms an entry
        point of the town Kalpa which is another natural spot in Kinnaur. On your visit to this place, don’t forget to
        visit the Chandika Devi temple and Brelengi Gompa monastery. The town has all the amenities for the travelers
        including medicine, general stores, electronic accessories shops etc.</p>
<a href="https://www.google.com/maps/place/Reckong+Peo,+Himachal+Pradesh+172107/@31.5398811,78.2517956,14z/data=!3m1!4b1!4m5!3m4!1s0x39066a202036d73f:0xa3ad6f92a3b2419!8m2!3d31.5390437!4d78.2675478">
visit here </a>
    {% endblock %}
</body>

</html>