{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}KULLU - LOCATION {% endblock %} </title>
</head>
<body>
        
{% block body %}
{% include "locations/comman_in_all.html" %}
<h1 class="district_name">TOURISM PLACES OF KULLU  </h1>

<h3 ="district_heading"> KULLU </h3>

<P class="district_description ">  kullu is famous among nature lovers as nature paradise. Coverd with lush journey pine and learder tress kullu in himachal
        pardesh is on of the most visit tourist place in india . It is locted at an attititude of 1230 meter and it is also known as the sister town 
        to manali .A part from all such activities .Kullu is also famus for having and adundnce of tourism attractions. </p>

<h3 class="place_heading"> MANIKARN TEMPLE </h3>

<p class="place_description"> manikarn located between to rivers rives beas and river parvati at an attitude of 1760 meter above see level manikarn as well known
       for its hot water spring . </p>

<h3 class="place_heading"> RAGHUNATHJI TEMPLE </h3>

<p class="place_description">   Raghunathji temple situated in sultanpur . Raghunathji temple is at a distance of 0.5 kilometers from kullu . The temple was 
         built by raja jagat singh in the 17 country. </p>

<h3 class="place_heading"> RAISOM </h3>

<p class="place_description">  A small cluster of villages set as a distance of 13.5 kilometer from kullu raisom ios considerd to be one of the top adventure tourism 
        attraction to visit in kullu . </p>

<h3 class="place_heading"> GREAT HIMALAYA NATIONAL PARK</h3>

<p class="place_description">   Spread a croos the parvati valley .The great himalaya national park is located at a distance of 75 kilometers from kullu . </p>

<h3 class="place_heading"> JAMULA TEMPLE </h3>

<p class="place_description">   located in malana village of paruati valley  jamula tample is at a distance of 48 kilometer from kullu.</p>

<h3 class="place_heading"> BIJILI MAHADEV TAMPLE  </h3>

 <p class="place_description">  Stationed at an attitude of 2.460 meter above sea level , bijli mahadev temple is a sacred hindu piligrimage in  the kullu 
         region . </p>

<h3 class="place_heading">NAGGAR CASTLE </h3>

<p class="place_description"> Built in 1460 AD by raja sidhi singh nagar castle is set at a distance of 22 kilometers from kullu </p>

<h3 class="place_heading">DHAKPO SHEDEUPLING MONASTERY</h3>

<p class="place_description"> Another name in the list of top places to visit in kullu , Dhakpo shedeupling monastry is located at a distance of 10 kilometer 
from kullu </p>

<h3 class="place_heading"> KHEER GANGA </h3>

<p class="place_description"> Set at altitude of 3050 meter kheer ganga is a tiny village located on the parvati hills in the kullu </p>

<h3 class="place_heading"> TIRTHAN VALLEY </h3>

<p class="place_description"> Considerd as one of the most beautiful places to see in kullu as well as Himachal pardesh , Tirthan velly is located at a distance 
of 70 kilometers from kullu </p>
{% endblock %}
</body>
</html>