{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">


<head>
<meta charset ="utf-8">
<meta name="viewport" content="width=devices-width,initial-scale=1.0">
<title>
{% block title%} mandi -location {% endblock %}
</title>
</head>
<body>
{% block body %}
 {% include "locations/comman_in_all.html" %}
 
<h1 class="district_name">TORISM PLACES OF MANDI</h1>
<h3 class="district_heading">Mandi</h3>
<p class="district_description">The people of Mandi proudly boast that while Kashi (Benaras) has only 80 temples,
 Mandi has 81! And it is no idle boast. J.C. French supported their assertion when he described the 
town as a miniature Benaras with innumerable temples, old houses, long flights of steps, the streets
steep and winding and the market place with an aura of medieval picturesque ness. 
In 1919 one tourist actually counted 49 places of worship in Mandi. Built of rough stone in a shikara (houseboat) 
style they could be seen all over the town on the right and left of the river Beas.

The town's antiquity is established by the Triloknath temple which was built around 1520 A.D. 
Mandi seems to have derived its name from the Sanskrit word 'Mandoika' meaning an open hall or shed.
 It was also well known to the Tibetans who called it Zahor.</p>
<h3 class="place_heading">Solang Valley</h3>
<p class="place_description">Solang Valley is located about 30 minutes from Manali and attracts travelers both in winter, for its snow, 
and in summer for its adventure sports.

From January to March, it's possible to ski and snowboard there, and a gondola carries visitors 1.3 
kilometers up to the runs. After the snow clears, paragliding becomes popular. However, keep in 
mind that it's not well regulated and there are safety concerns (people have died in the past).
</p>
<h3 class="place_heading">Rohtang Pass</h3>
<p class="place_description">
Rohtang Pass is a popular day trip from Manali, although heavy traffic can be an issue that makes it a challenge to reach. 
Situated a two-to-three-hour drive from Manali town, it connects the Kullu Valley with the Lahaul and Spiti valleys of Himachal Pradesh.
</p>
<h3 class="place_heading">Beas River</h3>
<p class="place_description">The powerful Beas River flows rapidly through Manali and provides plenty of opportunities for outdoor
 recreation in its waters and along its banks. However, due to the rapid flow of the river, it can be quite dangerous 
even for the most experienced rafter, especially after the snow melts in the spring and the water levels rise. 
Tourists are advised to avoid the river from March through April as a result.</p>
<h3 class="place_heading">Old Manali</h3>
<p class="place_description">Old Manali is a laid-back traveler center, and the road here is lined with guesthouses, cafes, and small shops—ideal
 for chilling out and watching the world go by. Right at the top sits Manu temple, dedicated to sage Manu, 
who was the first man created by God according to Hindu mythology. The views are worth the steep but scenic walk to get there.
</p>
<h3 class="place_heading">Hadimba Temple</h3>
<p class="place_description">Yak rides and huge fluffy angora rabbits ready to pose for photos are added attractions there. 
Additionally, a fascinating three-day temple festival takes place here in mid-May every year, and people from all 
over the region come to attend it.</p>
<h3 class="place_heading">Manali Nature Park</h3>
<p class="place_description">The towering trees of Manali Nature Park provide a dense shield from the outside world, 
giving the park a magical, mystical feel. There's also another similar park, Van Vihar Park, with the 
entry adjacent to Manali town, if you want to continue your exploration of the natural beauty of the region once you've 
finished hiking through Manali Nature Park.</p>
<h3 class="place_heading">Vashist</h3>
<p class="place_description">Another travelers' hangout with inexpensive guesthouses, Vashist is situated on the opposite side of the Beas River, 
about 10 minutes uphill from Manali town.
If you're interested in alternative therapies such as Reiki, massage, past life regression, and tarot, there's an excellent
Reiki center there. It's open from April to October, and regular spiritual retreats are held throughout the regular season. 
Otherwise, the main attractions are temples and hot springs.</p>
<h3 class="place_heading">Jogini Waterfall</h3>
<p class="place_description">A picturesque and enjoyable short hike through the hills behind Vashist will take you to Jogini waterfall.
 The waterfall itself is not particularly impressive but a dip in its chilly water is invigorating, and the surroundings are truly enchanting. 
There are a few small restaurants and guesthouses along the way, so you can stop for a meal before or after you take a 
dip in the refreshing waters under Jogini Waterfall.</p>
<h3 class="place_heading">Buddhist Temples</h3>
<p class="place_description">There's a small Tibetan colony just south of Manali town that's worth visiting for its serene and soothing Buddhist temples, and shops 
selling Tibetan handicrafts and carpets. One of the temples, the Himalayan Nyinmapa Gompa, is home to a huge gold statue of Lord Buddha. 
The temple is beautifully illuminated at night.</p>
<h3 class="place_heading">The Mountains</h3>
<p class="place_description">Many travelers use Manali as a base for trekking through the surrounding mountains.
If you don't want to go alone, Himalayan Trails in Old Manali offers a wide range of outdoor activities including guided treks and day hikes. 
Himalayan Caravan Adventure is also recommended for trekking and outdoor adventure activities including day hikes, rock climbing, and
 rafting.</p>
{% endblock %}
</body>
</html>