{% extends 'base.html' %}

<!DOCTYPE html>

<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}SHIMLA-LOCATION{% endblock %}</title>
</head>

<body>

    {% block body %}
     {% include "locations/comman_in_all.html" %}
     
    <h1 class="district_name"> TOURISM PLACES OF SHIMLA</h1>

    <h3 class="district_heading">SHIMLA</h3>
    <p class="district_description">The capital city of Himachal Pradesh, Shimla is one of the most popular hill stations in India and is frequented
        by millions of tourists every year. It is named after Goddess Shyamala and is also known as Queen of Hills. Such
        is its popularity that tourists from all over the country visit it to savour its pristine environment and lush
        green valleys. It is one of the few hill stations in India which are home to UNESCO World Heritage Sites.Shimla
        is the only place in the country which houses a natural ice-skating rink. It was founded in the year 1920 during
        the British rule and since then, it has been a popular tourist destination in Shimla. Thousands of tourists come
        here every year to enjoy ice-skating. So, now you know why Shimla is considered as one of the most beautiful
        hill stations in India. </p>

    <h3 class="place_heading">THE RIDGE SHIMLA</h3>
    <P class="place_description">The Ridge may well be defined as the heart of Shimla in terms of location and tourist attractions. This Shimla
        tourist spot is actually a wide-open street that runs along the Mall Road from east to west and connects it to
        the famous Scandal Point.The place is dotted with long-standing British establishments that beckon visitors to
        indulge in feel-good shopping and binge-eating. Lined with boutiques, bars, restaurants, cafes, and shops, the
        Ridge serves as the social hub in the region </P>

    <h3 class="place_heading">JAKHOO HILL AND TEMPLE</h3>
    <p class="place_description">Jakhoo Hill is the highest point of Shimla and offers scenic views of the snow-covered Shivalik Ranges as well as
        the sister town of Sanjauli. Situated at a height of 8000 ft. above the sea level, Jakhoo Hill is the location
        of an ancient Hanuman temple that boasts of having the world’s tallest statue of this Hindu deity. Shrouded in
        legends and mysteries, it attracts devotees and the tourists alike. If the local legends are to be believed, the
        temple stands at the very spot where Lord Hanuman had rested for a while during his journey to bring the
        Sanjeevani Booti for Lakshman’s revival during the war of Lanka.</p>
    <h3 class="place_heading">MALL ROAD</h3>
    <p class="place_description">The place is a hip and happening location in this hill station and attracts visitors of all ages. With a plethora
        of cafes, restaurants, showrooms, departmental stores, and shops selling trinkets and exclusive handicraft
        works, this is one place where you can soak in the spirit of Shimla in all its touristy delights. From jewelry
        and books to intricately crafted wooden articles, you can shop for a variety of items here. At the same time,
        you can explore a number of other attractions in the vicinity, like the Kali Bari Temple, Town Hall, Gaiety
        Theatre, and Scandal Point. </p>

    <h3 class="place_heading">KALKA SHIMLA RAILWA</h3>
    <p class="place_description">The Kalka-Shimla train ride is a highpoint of Shimla tourism and for a good reason. Built in 1898, this
        narrow-gauge railway has recently been added to the mountain railways of India World Heritage Site by UNESCO.
        Winding through the extremely scenic and mountainous route from the Shivalik Range foothills at Kalka (Haryana)
        to Shimla, the train ride offers spectacular views of the surrounding hills and villages. On the way, it stops
        at a number of tourist destinations, like Solan, Dharampur, Summer Hill, Salogra, Taradevi, and Barog, among
        others. The ride will take you through no less than 864 bridges, 919 curves, and 102 tunnels. The train ride in
        itself may not count as a ‘place’ to visit in the region, but missing the ride means missing out on some of the
        splendid sights that Shimla has to offer.</p>

    <h3 class="place_heading">KUFRI</h3>
    <p class="place_description">A ride of about 40 minutes from the city center will bring you to Kufri, another must-visit place in the region.
        Located at an elevation of 8607 ft., this small hill station promises you panoramic views of the surrounding
        snow-capped mountains. But Kufri is not just about Shimla sightseeing. It is also an adventure hub that offers
        training and facilities for exciting winter sports like ice skating and skiing. That is why it is also known as
        the winter sports capital of India. Since Kufri experiences regular snowfall in winter, it ranks top among the
        places to visit in Shimla in December.</p>

    <h3 class="place_heading">CHRIST CHURCH</h3>
    <p class="place_description">One of the prominent landmarks in Shimla, Christ Church is the second oldest church in northern India and boasts
        of exceptional architectural beauty. It is a remarkable example of the neo-Gothic style of architecture. The
        historic church is located on the Ridge and traces its origin back to 1857. An enduring legacy of the colonial
        rulers, the silhouette of this imposing edifice is visible from far away. With stained glass windows, brass
        church bell, and arresting towers, it presents a picture of matchless beauty.</p>

    <h3 class="place_heading">GREEN VALLEY</h3>
    <p class="place_description">A breath-taking natural dale near Shimla and Kufri, Green Valley stands true to its name. Set against the
        backdrop of snow-covered mountains and lush green forests of pine and deodar, the valley is carpeted in
        greenery. Away from the touristy crowd, the serene Green Valley is where you can witness nature in all its
        grandeur, which makes it one of the best places to visit.The place
        counts among the favorite Bollywood locations in India and has been featured in a number of Hindi movies.
        Although you can visit Green Valley all year through, the best time to visit it is during the summer months.</p>

    <h3 class="place_heading">KALI BARI TEMPLE</h3>
    <p class="place_description">Some temples are known for their religious or historic significance while others draw in visitors due to their
        architectural beauty. But there are some temples that score high on both counts. The Kali Bari Temple in Shimla
        is one such place! Believed to have been built in 1845, the temple boasts of architectural beauty as well as
        religious significance in equal measures. As the name indicates, the temple is dedicated to Goddess Kali and
        houses a captivating idol of the deity. Located very close to the Mall Road, it is an ideal spot to spend some
        serene moments connecting with your inner self. An interesting thing to note is that Goddess Kali is known here
        as Goddess Shyamala and it said that Shimla derived its name from Goddess Shyamala.</p>

    <h3 class="place_heading">TARA DEVI TEMPLE</h3>
    <p class="place_description">Tara Devi Temple located atop the hill called Tara Parvat, this shrine is believed to be about 250 years old.
        Goddess Tara, a goddess of the Tibetan Buddhists and one of Goddess Durga’s nine sisters, is the presiding deity
        here. According to the local belief, the wooden idol installed in the temple was brought from West Bengal. While
        the temple exudes a serene vibe, what draws tourists to this destination is its fine architecture.</p>

    <h3 class="place_heading">CHADWICK FALLS</h3>
    <p class="place_description">Nestled within the Glen Forests, Chadwick Waterfall is one of the most delightful sights that nature has bestowed
        upon Shimla. The waterfall makes a dive from a height of 86 meters and cascades down a huge gorge. Surrounded by
        a blanket of greenery formed by the deodar and pine trees, it presents an enticing sight. The best time to visit
        it is during monsoons (from June to September) when the water level increases and Chadwick seems to take on a
        life of its own. If you are not daunted by the idea of taking a dip in the cold waters, you can go ahead and
        splash around. </p>

    {% endblock %}

</body>

</html>