{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">
<head>  
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <title>{%block title%}SIRMOUR-LOCATION{%endblock%}</title>
    </head>
    <body>
      
        {% block body %}
         {% include "locations/comman_in_all.html" %}
    <h1 class="district_name"> TOURISM PLACES OF SIRMOUR</h1>
    
    <h3 class="district_heading">SIRMOUR</h3>
    <p class="district_description">The southernmost district of Himachal Pradesh,sirmour is as fascinatingly varied as its religious and cultural traditions.sirmour is spread over a himalayan zone.river giri cuts through the district before it merges with river yamuna near Paonta sahib.</p>
    
    
    <h3 class="place_heading">SUKETI FOSSIL PARK</h3>
    <p class="place_description">on the left bank of markanda rivulet,21km from nahan, discovery of fossil remains of mesozoic age animals,the park is first of its kind in the country, developed at the actual discovery site of fossils.</p>
    
    
    <h3 class="place_heading">RENUKA LAKE</h3>
    <p class="place_description">among of all natural lakes of Himachal Pradesh,renuka happens to be the largest.At  the lake,fed by underwater springs,one can enjoy boating.visitors are often amused by water animals like turtels.</p>
    
    
      <h3 class="place_heading">THE JAITAK FORT</h3>
      <p class="place_description">on the outskirts of nahan,on a steep ridge is this fort that was originally built by the sirmaur kings.</p>
      
      
      <h3 class="place_heading">NAHAN</h3>
      <p class="place_description">In the low lying shivalik hills,close to the plains,nahan was the capital of a proud royal house.the rich heritage and culture of Nahan has temples,gardens,a place and other important historical monuments scattered around town.</p>
      
      
       <h3 class="place_heading">CHURDHAR</h3>
      <p class="place_description">The highest peak of sirmour.The views are so wide that George everest,a surveyor general after whom the world's tallest peak is named.peaks around badrinath and kedarnath can be seen from here and towards the South.</p>
      
      
       <h3 class="place_heading">HARIPURDHAR</h3>
      <p class="place_description">The scenic landscapes and high rising moments in the backdrop gives the place the look of a painting on canvas.It also serves as a base camp for a trek to churdhar.Haripurdhar is 86 km from nahan</p>
      
      
       <h3 class="place_heading">BARU SAHIB</h3>
      <p class="place_description">Baru sahib has come up in recent years.It can be reached from solan,rajgarh rout.</p>
      
      
      <h3 class="place_heading">TRILOKPUR</h3>
      <p class="place_description">On a isolated hill,23 km from nahan,at trilokpur is the highly revered temple of goddess mahamaya bala sundri that has 84 bells hanging at entrance.Navratri fairs held twice year as chaitra and ashwina navratras are a big draw when many pilgrims visit the temple.</p>
      
      
       <h3 class="place_heading">RAJGARH</h3>
      <p class="place_description">A quiet and lush green valley with pine forest, Rajgarh with many apple and stone fruit orchards is particularly known for its peaches.Rajghar is on the solan-nahan route.</p>
      
      
        <h3 class="place_heading">HABBAN VALLEY</h3>
      <p class="place_description">At 2063 m Habban valley is a scenic village.It is surrounded by a deodar forest.There are orchards of peach and apple.Habban is 51 km from Solan. </p>
      {% endblock %}
      </body>
      </html
      
      