{% extends 'base.html' %}
<!DOCTYPE html>
<html long="en">
<head>  
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <title>{%block title%}SOLAN-LOCATION{%endblock%}</title>
    </head>
    <body>
      
        {% block body %}
         {% include "locations/comman_in_all.html" %}
         
    <h1 class="district_name"> TOURISM PLACES OF SOLAN</h1>
    
    
    <h3 class="district_heading">SOLAN</h3>
    <p class="district_description">Solan is an ideal tourist destination with picturesque vistas of the himalayan foothills and a town replete with colonial heritage that is bustling with activities.Located between Chandigarh and Shimla,on the chandigarh-kalka-shimla highway,the town draws its name from goddess shoolini devi,the presiding deity in whose honour a three day fair is held in june.</p>
    
    
    <h3 class="place_heading">ARKI FORT</h3>
    <p class="place_description"> Tucked away on the quieter side of a valley town,the Arki fort also houses a palace.It was built by rana prithvi singh in the years 1695-1700</p>
    
    
    <h3 class="place_heading">CHAIL SANCTUARY</h3>
    <p class="place_description">The sanctuary around the hill station of chail has a lot of wildlife.Animals and birds that can be sighted around include the sambar,cheer pheasants.Trekking from chail to gaura or chail to jhaja is recommended for travellers for better sightings of wildlife in the region.</p>
    
    
    <h3 class="place_heading">KASAULI</h3>
    <p class="place_description">A road that bifurcates at Dharampur on the shimla-kalka highway leads to the quaint little town of Kasauli that seems to exist in a time warp of the 19th century.Kasauli is surrounded by a mixed forest of pine, himalayan oak and huge horse-chestnuts.</p>
    
    
    <h3 class="place_heading">Kuthar Fort</h3>
    <p class="place_description">At a short driving distance from solan,near the shimla airport at jubbarhatti,is kuthar fort.other forts in the vicinity of solan are kunihar and the gurkha fort of subathu which can be easily reached from the city.</p>
    
     
    <h3 class="place_heading">NALAGARH PLACE</h3>
    <p class="place_description"> Nalagarh with the construction of a fort was founded in 1421 AD.within the fort is a palace of the erstwhile royal family.Nalagarh was the capital of a princely state and saw some fierce fighting during the 1805-15 gurkha occupation.</p>
    
    
    <h3 class="place_heading">MAJATHAL SANCTUARY</h3>
    <p class="place_description">Majathal sanctuary is an excellent place in himachal pradesh where we can revel in the untouched himalayan biota.The thick vegetation and peaceful area of the sanctuary is truly refreshing to eyes and soul</p>
    
    
    <h3 class="place_heading">BON MONASTERY</h3>
    <p class="place_description">Bon monastery located in Solan is the second oldest bon monestery in the world.This monastery holds a significance among Buddhists in the region as well as tourist visiting the town.</p>
    
    
    <h3 class="place_heading">MOHAN SHAKTI NATIONAL PARK</h3>
    <p class="place_description">Mohan shakti national park is the most important spot in solan from a tourism point of view.The park features recreations of Indian villages.The park has numerous attractions in the form of structured.</p>
    
    
    <h3 class="place_heading">SOLAN BREWERY</h3>
    <p class="place_description">Solan Brewery will add a unique experience to our City tour.started in 1885,this believed to be one of the oldest breweries in the country.</p>
    
    
    <h3 class="place_heading">CHILDREN'S PARK</h3>
    <p class="place_description">Children's park is a great choice of place for our family.The park features various attractions for kids like slides and swings.The most exciting activity available here for kids is hathigadi which is elephant-shaped ride.</p>
    {% endblock %}
    </body>
    </html>