{%extends 'base.html' %}
<!DOCTYPE html>
<html long="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{%block title %}UNA -LOCATION {%endblock %} </title>
</head>

<body>

    {% block body %}
    {% include "locations/comman_in_all.html" %}
    <h1 class="district_name">TOURISM PLACES OF UNA </h1>

    <h3 class="district_heading"> UNA </h3>
    <p class="district_description"> Una has been identified as a main industrial hub and has become a transit town for
        travellers going to the city of dharamshala
        or location with in the himalaya such as kullu ,manali, jawalamukhi , chintpurni. Una is a district the district
        in the indian state of himachal
        pardesh . Una shares its border with the hosiarpur and rupanagar district of punjab and kangra , hamirpur and
        bilaspur district of himachal
        pardesh . </p>

    <h3 class="place_heading"> CHINTPURNI TEMPLE </H3>

    <P class="place_description"> Chintpurni is a small town in the una district of himachal pradesh about 40 km north
        of una , not far from the border with the indian state
        of punjab.
    </p>

    <h3 class="place_heading"> SHEETLA DEVI </h3>

    <p class="place_description"> sheetla devi is a hindu goddess widely worshiped in the indian subcontinent , notabl
        in north india. Goddess sheetla devi is worshiped on
        the eighth day after festival of colours , on the occasion of sheetla asthami.</p>

    <h3 class="place_heading"> SHIVA BARI </h3>

    <p class="place_description"> shiva bari temple is located in the village garget,distt una in himachal pardesh . it
        is an ancient temple approximately 5000 yrs old.
        This is also known as drona shiv mandir .</p>

    <h3 class="place_heading"> PIR NIGAHA </h3>

    <p class="place_description"> This is unique and unusual temple near una town of himachal pardesh .it is worth
        visiting ,it is said that praying at this temple makes
        wishes fullfilled.</p>

    <h3 class="place_heading"> SHITLA MATA TEMPLE </h3>

    <p class="place_description"> shitla mata temple is an ancient temple dedicated to theb mata shitla devi,wife of
        guru dronacharya who wasthe teacher of the pandavas
        and kauravas accroding to an indian epic mahabharata.</p>

    <h3 class="place_heading"> BABA RUDRANATH TEMPLE <h3>

            <p class="place_description"> It is situated at a distance of about 40 kilometers from una disrict
                headquarters, Amlehar is a pictureseque place studded in the lap
                of the culminating ridge of jaswan dhar which commences near talwar and from the border between
                una and kangra district . </p>

            <h3 class="place_heading"> DERA BARA BHARBHAG SHING </h3>

            <p class="place_description"> Dera baba bharbhag shing is a popular gurudwara in una that was established by
                sain baba bhabag singh enclosed by eucalyptus
                tress , the gurudwara stands on the top of the hill . </p>

            <h3 class="place_heading">KUTLEHAR FORTS </h3>

            <p class="place_description"> kutlehar forts known as a forts of sola singhi were construted by kangra ruler
                sansar chandra . These forts are site of relics . Ten
                out of sixteen forts have been ruined , the forts were renovated by maharaja ranjit singh . </p>

            <h3 class="place_heading"> JAWAHARLAL NAVODAY VIDHYALAY STADIUS </h3>

            <p class="place_description"> jawaharlal navoday vidhyalay stadium is a cricket ground near una in himachal
                pardesh india . The first recorded match held on the
                ground came in januray 1899 when bengal under - 16 second played madhya pardesh under 16 second . </p>

            <h3 class="place_heading"> JEEVAN MARKET </h3>

            <p class="place_description"> situated in the heart of una city near main bus stand is connected straight to
                chandighar - dharmshala highway through narrow
                corridor type entry it is shopping complex for una gernal needs </p>
            {% endblock %}
</body>


</html>